.container {
  background-color: $white;
  height: max-content;
  width: 55rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 10rem 1rem;
  padding: 3rem;
  padding-right: 4rem;
}
